@charset "UTF-8";
.cart_title {
    text-align: center;
    font-size: 27px;
    font-weight: 600;
    color: #000;
    padding: 50px 0 80px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
body, h1, h2, h3, h4, h5, h6, table, pre, xmp, plaintext, listing, input, textarea, select, button, a {
    font-size: 12px;
    color: #1c1c1c;
    line-height: 1.25;
    font-family: 'Noto Sans KR', AppleGothic, Helvetica, sans-serif;
}
html, body, pre, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, li, ol, th, td, p, blockquote, form, fieldset, legend, menu, nav, section, hgroup, article, header, aside, footer, input, select, textarea, button {
    margin: 0;
    padding: 0;
}
* {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    word-wrap: break-word;
    word-break: keep-all;
}

table {
    display: table;
   /*  border-collapse: separate; */
    box-sizing: border-box;
    text-indent: initial;
   /*  border-spacing: 2px; */
    border-color: gray;

}

.table-cart thead th {
    padding: 15px 0;
    font-size: 14px;
    color: #000;
    font-weight: 500;
    border-bottom: 1px solid #e5e5e5;
}


* {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
}

div {
    display: block;
}


.table-cart tbody td {
    padding: 10px 0;
    border-top: 1px solid #e5e5e5;
}
.table-cart .opt-spin a {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    color: #000;
}
a:hover {
}
button, input, select, textarea, a {
    vertical-align: middle;
}
a {
    color: #000;
    text-decoration: none;
    background: none;
}
body, h1, h2, h3, h4, h5, h6, table, pre, xmp, plaintext, listing, input, textarea, select, button, a {
    font-size: 12px;
    color: #1c1c1c;
    line-height: 1.25;
    font-family: 'Noto Sans KR', AppleGothic, Helvetica, sans-serif;
}
* {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
}
사용자 에이전트 스타일시트
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.table-cart .opt-spin {
    position: relative;
    width: 102px;
    height: 30px;
    margin: 0 auto 5px;
    border: 1px solid #e5e5e5;
    font-size: 0;
}

}
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    word-wrap: break-word;
    word-break: keep-all;
}

table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}

#cartWrap .txt-spin {
    line-height: 21px;
}
.table-cart .opt-spin .txt-spin {
    display: inline-block;
    width: 40px;
    height: 30px;
    border: 0;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    font-size: 11px;
    text-align: center;
}
.table-cart tbody td .txt-spin {
    width: 31px;
    height: 21px;
    border: 1px solid #acacac;
    font-size: 11px;
    text-align: center;
}
button, input, select, textarea, a {
    vertical-align: middle;
}
body, h1, h2, h3, h4, h5, h6, table, pre, xmp, plaintext, listing, input, textarea, select, button, a {
    font-size: 12px;
    color: #1c1c1c;
    line-height: 1.25;
    font-family: 'Noto Sans KR', AppleGothic, Helvetica, sans-serif;
}
html, body, pre, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, li, ol, th, td, p, blockquote, form, fieldset, legend, menu, nav, section, hgroup, article, header, aside, footer, input, select, textarea, button {
    margin: 0;
    padding: 0;
}
* {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
}
사용자 에이전트 스타일시트
input:not([type="range"]):not([type="color"]) {
    writing-mode: horizontal-tb !important;
}
사용자 에이전트 스타일시트
input[type="text" i] {
    padding: 1px 2px;
}
사용자 에이전트 스타일시트
input:not([type="file" i], [type="image" i], [type="checkbox" i], [type="radio" i]) {
}
사용자 에이전트 스타일시트
input {
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-variant-alternates: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    font-optical-sizing: ;
    font-kerning: ;
    font-feature-settings: ;
    font-variation-settings: ;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
.table-cart .opt-spin {
    position: relative;
    width: 102px;
    height: 30px;
    margin: 0 auto 5px;
    border: 1px solid #e5e5e5;
    font-size: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    word-wrap: break-word;
    word-break: keep-all;
}


td {
    display: table-cell;
    vertical-align: inherit;
}

.table-cart tbody td .btn_select {
    width: 70px;
    height: 30px;
    line-height: 30px;
    font-size: 11px;
}
.CSSbuttonWhite:hover {
    color: #fff;
    background: #000;
    border: 1px solid #000;
}
.CSSbuttonWhite {
    display: inline-block;
    color: #000;
    text-align: center;
    border: 1px solid #dfdfdf;
    background: #fff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.table-cart tfoot td {
    padding: 15px 0;
    font-weight: 500;
    line-height: 20px;
    border-top: 1px solid #e5e5e5;
}

.tb-right {
    text-align: right;
}
.tb-left, .tb-center, .tb-right {
    padding: 0 10px;
}


#cartWrap .btn-order-ctrl a {
    width: 220px;
    height: 60px;
    font-size: 16px;
    line-height: 60px;
    margin: 0 4px;
}

a:hover {
}

}
button, input, select, textarea, a {
    vertical-align: middle;
}
a {
    color: #000;
    text-decoration: none;
    background: none;
}

}
/* 
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
} */
#cartWrap .btn-order-ctrl {
    margin: 40px 0 50px;
    text-align: center;
}


#cartWrap .btn-order-ctrl a.CSSbuttonBlack {
    border: 1px solid #5e5e5e;
    background: #5e5e5e;
    color: #fff;
}
#cartWrap .btn-order-ctrl a {
    width: 220px;
    height: 60px;
    font-size: 16px;
    line-height: 60px;
    margin: 0 4px;
}
.CSSbuttonBlack:hover {
    color: #231f20;
    background: #fff;
}
a:hover {
}
.CSSbuttonBlack {
    display: inline-block;
    color: #fff;
    text-align: center;
    border: 1px solid #e0e0e0;
    background: #e0e0e0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#cartWrap .btn-order-ctrl {
    margin: 40px 0 50px;
    text-align: center;
}

.table-cart tbody td .thumb a, .table-cart tbody td .thumb img {
    display: block;
    width: 70px;
}
table img {
    vertical-align: middle;
}
img {
    vertical-align: middle;
}
img, fieldset, button {
    border: 0 none;
}
* {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
a:hover {
}
.tb-bold {
    font-weight: bold;
}
.tb-left {
    text-align: left;
}
a {
    color: #000;
    text-decoration: none;
    background: none;
}
.tb-left {
    text-align: left;
}

.table-cart tbody td .info {
    display: inline-block;
    padding-left: 30px;
    vertical-align: top;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    word-wrap: break-word;
    word-break: keep-all;
}
.MS_tb_delivery {
    position: relative;
    cursor: pointer;
    z-index: 100;
}
.tb-center {
    text-align: center;
}
#deliverycase0 dt,dd {vertical-align: center;}
